$accent-color: #2E86AB;
$hover-accent-color: #1C5677;

$header-margin-top: 1.5em;
$header-margin-bottom: 16px;
$header-border-color: #ccc;

$table-border-color: #ddd;
$table-bg-color: #eee;

$code-bg-color: #eee;
$code-color: #c7254e;

$hr-color: #ddd;

$quote-color: #888;
$quote-bar-color: #ddd;

.post-body>:first-child {
    margin-top: 0;
}

.post-body {
    h1, h2, h3, h4, h5, h6 {
        margin-top: $header-margin-top;
        margin-bottom: $header-margin-bottom;
    }
    h1, h2, h3 {
        border-bottom: 1px solid $header-border-color;
    }
    p {
        line-height: 1.8;
        code {
            padding: .1em .6em;
            background-color: $code-bg-color;
            color: $code-color;
            font: 400 16px normal;
            font-family: Menlo,Consolas,'DejaVu Sans Mono',monospace;
            border-radius: 5px;
        }
    }
    a {
        color: $accent-color;
        &:hover {
            color: $hover-accent-color;
        }
    }
    table {
        border: 1px solid $table-border-color;
        border-spacing: 0;
        thead {
            background-color: $table-bg-color;
        }
        tr:nth-child(2n){
            background-color: $table-bg-color;
        }
        th, td{
            padding: .2em .5em;
            border: 1px solid $table-border-color;
        }
    }
    blockquote {
        color: $quote-color;
        border-left: 4px solid $quote-bar-color;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 16px;
        // padding-inline-end: 40px;
    }

    pre {
        font-size: 16px;
        code {
            padding: 1rem .5rem;
            border-radius: 5px;
            font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
            font-size: .9rem;
            line-height: 1.3rem;
        }
    }

    hr {
        border: 1px solid $hr-color;
    }
}