$base-color: #ddd;
$accent-color: #2E86AB;
$main-color: #565554;
$sub-color: #aaa;

$hover-accent-color: #1C5677;

// 変数命名規則
// 用途-適用場所-style
$layout-header-color: $accent-color;
$layout-base-color: $base-color;
$layout-title-color: #fff;
$layout-footer-color: $main-color;

$bg-content-color: #fff;

$font-main-color: $main-color;
$font-accent-color: $accent-color;
$font-sub-color: $sub-color;

$position-title-up: -80px;

$size-avatar: 128px;

html {
    background-color: $main-color;
}

body {
    margin: 0;
    color: $font-main-color;
    background-color: $layout-base-color;
    // font-family: {font:Text Font};
    // background-image: url('{image:Background Image}');
    // background-size: cover;
    // background-color: {color:Background Color};
}

h1, h2, h3, h4, h5, h6 {
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.invisible {
    visibility: hidden;
}

// layout: header
.header-wrapper {
    position: relative;
    background-color: $layout-header-color;
    .header {
        position: relative;
        min-height: 15rem;
        // background-size: cover;
        // background-image: url('{image:Header Image}');
    }
}

// layout: title
.blog-title-wrapper {
    position: relative;
    display: block;
    text-align: center;
    top: $position-title-up;
    background-color: $layout-title-color;
    width: 70%;
    margin: auto;
    border-radius: 5px;
    padding-bottom: calc(#{$size-avatar} / 2 );
    .avatar-wrapper {
        position: absolute;
        left: 50%;
        margin-left: calc(-#{$size-avatar} / 2);
        display: block;
        top: calc(-#{$size-avatar} / 2);
    }
    .avatar-image {
        width: $size-avatar;
        height: $size-avatar;
        border-radius: 50%;
        border: 6px solid #fff;
    }
    .title-group {
        position: relative;
        display: block;
        top: calc(#{$size-avatar} / 2);
        padding: 1rem 3rem 2rem;
    }
}

// layout: page
.page-description {
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: .5rem 1.2rem;
    border-radius: 5px;
    margin-bottom: 20px;
    .tag-link {
        text-decoration: none;
        color: #2E86AB;
        &:hover {
            color: #1C5677;
        }
        &::before {
            content: "#";
        }
    }
}

// layout: content
.content-wrapper {
    position: relative;
    // background-color: #ddd;
    margin-top: $position-title-up;
}

// layout: navigation
.navigation-wrapper {
    .nav-list {
        list-style: none;
        text-align: center;
        margin: 1rem;
        padding: 0;
        li {
            display: inline-block;
        }
    }
    .nav-item {
        // display: inline-block;
        // padding: .2rem;
        margin: 0px 10px;
        text-decoration: none;
        color: $font-accent-color;
        font-weight: bold;
        border-bottom: 2px solid transparent;
        &:hover{
            color: $hover-accent-color;
            border-bottom: 2px solid $hover-accent-color;
        }
    }
}

// layout: blog-content
.blog-content-wrapper {
    margin: 0 50px;
    .container {
        display: flex;
        margin: auto;
        // flex: 0 1 auto;
        justify-content: center;
    }
    .main {
        // display: flex;
        flex: auto;
        max-width: 700px;
        // flex-direction: row;
    }
}

// layout: article
article {
    display: block;
    margin-bottom: 50px;
    .title {
        font-weight: 600;
        color: $font-accent-color;
        margin-top: 0;
        a {
            color: #2E86AB;
            text-decoration: none;
        }
    }
    .body {
        margin-top: 20px;
    }
    .date {
        display: flex;
        justify-content: flex-end;
        font-weight: 400;
        color: $font-sub-color;
        
    }
    &.quote {
        blockquote {
            margin: 0;
            font-size: 2rem;
            font-style: italic;
            &::before, &::after {
                content: "\""
            }
        }
    }
    &.chat {
        .conversation {
            list-style: none;
            padding: 0;
            font-family: {font:Chat Font};
            line-height: 1.5rem;
        }
        .label {
            font-weight: 600;
        }
    }
}

// layout: post
.post-wrapper {
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: $bg-content-color;
    border-radius: 5px;
    .post {
        &-content {
            padding: 1rem 2rem;
        }
        &-extra {
            // padding: 1rem;
            margin: 1rem 2rem 0;
            .tag-list {
                list-style: none;
                padding: 0;
                margin: 0;
                li {
                    display: inline-block;
                    margin-right: 3px;
                }
            }
            .tag-item {
                color: $font-accent-color;
                text-decoration: none;
                &::before {
                    content: "#";
                }
                &:hover {
                    color: $hover-accent-color;
                }
            }
        } // post-extra
    } // post
    .panel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1.2rem 2rem;
        .post-controls {
            display: flex;
            justify-content: flex-end;
            padding: 0;
        }
        .control {
            // font-size: 1.2rem;
            margin-left: .8rem;
            a {
                text-decoration: none;
                color: #ccc;
            }
            .icon {
                font-size: 1.34rem;
                position: relative;
            }
        }
    }
}

.note-wrapper {
    margin-top: 30px;
    .notes {
        list-style: none;
        background-color: #fff;
        padding: 1.2rem 2rem;
        border-radius: 5px;
    }
    .note {
        display: flex;
        align-content: center;
        margin-bottom: .7rem;
        &:last-child {
            margin-bottom: 0;
        }
        .avatar {
            width: 24px;
            height: 24px;
        }
    }
    .action {
        margin-left: 8px;
        a {
            text-decoration: none;
            color: #2E86AB;
            &:hover {
                color: $hover-accent-color;
            }
        }
    }
}

.notes-notify-wrapper {
    .notes-link {
        text-decoration: none;
        color: #aaa;
        border-bottom: 1px solid transportant;
        &:hover {
            border-bottom: 1px solid #aaa;
        }
    }
}

// layout: footer
.footer-wrapper {
    font-size: .8rem;
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 50px;
        background-color: $layout-footer-color;
        color: #fff;
        // text-align: center;
    }
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.photoset-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.link-wrapper {
    background-color: #E7F6FF;
    padding: .5rem .8rem;
    border-radius: 5px;
    &:hover {
        background-color: #DCEDFF;
    }
    .link {
        text-decoration: none;
        color: #2E86AB;
        &:hover {
            color: $hover-accent-color;
        }
    }
    .link-host {
        font-size: 1rem;
    }
    .link-excerpt {
        font-size: .8rem;
    }
}

.search_query {
    font-weight: 600;
    margin-left: .5rem;
}
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    margin-top: 2px;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: .1rem;
    left: 10;
    &.open {
        display: block;
        max-height: 10rem;
        overflow-y: scroll;
    }
}
.dropdown-item {
    font-size: .9rem;
    text-decoration: none;
    color: #565554;
    padding: .3rem .8rem;
    border-radius: 5px;
    &:hover {
        background-color: #DCEDFF;
    }
}