html {
  background-color: #ECD8BF;
}

body {
  margin: 0;
  background-color: #6B4B3E;
}

.row {
  max-width: 700px;
}

.row-1 {
  width: 100%;
}

.row-3 {
  width: calc(100%/3);
}

.row-2 {
  width: calc(100%/2);
}

.container {
  display: flex;
}

.sidebar-wrapper {
  position: relative;
  width: 250px;
  min-width: 250px;
  margin: 40px 20px 40px 20px;
  float: left;
}

.sidebar-wrapper .sidebar {
  border-radius: 5px;
  overflow: visible;
  position: fixed;
  text-align: center;
  height: inherit;
  width: inherit;
  background-color: rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  padding: 1rem 2rem;
}

.sidebar-wrapper .sidebar-item {
  margin-bottom: 15px;
}

.sidebar-wrapper .avatar {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  background-color: red;
  border-radius: 50%;
}

.sidebar-wrapper .title {
  font-weight: 400;
  margin: 0;
}

.sidebar-wrapper .description {
  font-size: .9rem;
}

.sidebar-wrapper .search-nav {
  color: #339989;
  display: block;
}

.sidebar-wrapper .search-nav:hover {
  opacity: .7;
}

.sidebar-wrapper .search-form form {
  display: inline-block;
  border-bottom: 1px solid #339989;
}

.sidebar-wrapper .search-form .search-input {
  background-color: transparent;
  border: none;
  font-size: .8rem;
}

.sidebar-wrapper .search-form .search-input:focus {
  outline: none;
}

.sidebar-wrapper .search-form .search-submit {
  background-color: transparent;
  color: #339989;
  border: 0;
}

.sidebar-wrapper .page-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-wrapper .page-list .page-item {
  text-align: right;
  background-color: #339989;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-bottom: 5px;
  width: 80%;
}

.sidebar-wrapper .page-list .page-item:hover {
  transition-duration: 0.2s;
  width: 100%;
}

.sidebar-wrapper .page-list .page-link {
  text-decoration: none;
  display: block;
  color: #ECD8BF;
  padding: .1rem 20px;
  font-weight: 600;
}

.sidebar-wrapper .links {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  display: flex;
  justify-content: center;
}

.sidebar-wrapper .links .link-link {
  text-decoration: none;
  display: block;
  color: #aaa;
  font-size: 1.4rem;
}

.sidebar-wrapper .links .link-link:hover {
  color: #339989;
}

.sidebar-wrapper .nav-label {
  display: none;
  margin-bottom: 8px;
  color: #339989;
}

.sidebar-wrapper .nav-label:hover {
  opacity: .7;
}

.content-wrapper {
  display: flex;
  width: 100%;
  margin: 40px 0;
  min-height: 400px;
  justify-content: center;
}

article {
  display: block;
  box-sizing: border-box;
  padding: 20px 30px;
  margin-bottom: 40px;
  margin-right: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  min-width: 400px;
  max-width: 700px;
  border-radius: 5px;
}

article:last-child {
  margin-bottom: 0;
}

article .post-title {
  color: #339989;
  text-decoration: none;
}

article .post-title:hover {
  opacity: .7;
  text-decoration: underline;
}

article .link {
  display: block;
  color: #339989;
  text-decoration: none;
  padding: 15px 20px;
  background-color: rgba(51, 153, 137, 0.2);
  margin-bottom: 20px;
}

article .link:hover {
  opacity: .8;
}

article .link-title {
  margin: .5rem 0;
}

article .panel {
  margin-top: 25px;
}

article .panel .panel-item {
  margin-top: 10px;
}

article .panel .tag-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

article .panel .tag-item {
  display: inline-block;
  margin-right: 5px;
}

article .panel .tag-item:hover {
  opacity: 0.7;
}

article .panel .tag-link {
  display: block;
  text-decoration: none;
  color: #339989;
}

article .panel .tag-link::before {
  content: "#";
}

article .panel .clearfix {
  display: flex;
  justify-content: space-between;
}

article .panel .control-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

article .panel .control-item {
  display: inline-block;
  margin-left: 4px;
}

article .panel .control-link {
  text-decoration: none;
  color: #aaa;
  font-size: 1.34rem;
}

article .panel .control-link:hover {
  color: #339989;
}

.footer-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 0;
}

.footer-wrapper .footer {
  display: flex;
  justify-content: center;
  color: #6B4B3E;
  background-color: #ECD8BF;
  width: 100%;
  padding: 20px;
}

@media (max-width: 700px) {
  .invisible {
    display: none;
  }
  .container {
    display: block;
  }
  .sidebar-wrapper {
    width: 100%;
    float: none;
    margin: 0;
  }
  .sidebar-wrapper .sidebar {
    position: relative;
    display: block;
  }
  .sidebar-wrapper .sidebar-item {
    margin-bottom: 8px;
  }
  .sidebar-wrapper .page-list .page-item {
    width: 100%;
    text-align: center;
  }
  .sidebar-wrapper .page-list .page-item:hover {
    opacity: 0.7;
  }
  .sidebar-wrapper .nav-label {
    display: inline-block;
  }
  .sidebar-wrapper .nav-label::before {
    content: "+\ ";
  }
  article {
    margin-left: 20px;
  }
}
