html {
  background-color: #000;
}

body {
  margin: 0;
  background-color: #aaa;
}

.container {
  display: flex;
  margin: 0 30px;
}

.container:first-child {
  margin-left: 0;
}

.container:last-child {
  margin-right: 0;
}

.sidebar-wrapper {
  position: relative;
  width: 250px;
  min-width: 250px;
  height: 500px;
  min-height: 500px;
  margin: 40px 20px 40px;
  float: left;
}

.sidebar-wrapper .sidebar {
  position: fixed;
  height: inherit;
  width: inherit;
  opacity: .7;
  background-color: #fff;
  box-sizing: border-box;
  padding: 2rem;
}

.sidebar-wrapper .sidebar-item {
  position: relative;
}

.content-wrapper {
  display: flex;
  width: 100%;
  padding: 0 20px;
  background-color: #fff;
  min-height: 500px;
}

.content-wrapper .content {
  display: block;
  height: 500px;
}

.footer-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 0;
}

.footer-wrapper .footer {
  display: flex;
  justify-content: center;
  color: #fff;
  background-color: #000;
  width: 100%;
}
