html {
  background-color: #45261f;
}

body {
  margin: 0;
  background-color: #FFE8CC;
  color: #45261f;
  padding-top: 50px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.container-wrapper {
  display: flex;
  justify-content: center;
  min-height: 600px;
}

.notify-wrapper {
  margin-bottom: 30px;
  position: relative;
}

.notify-wrapper .notify {
  background-color: #339989;
  color: #FFE8CC;
  padding: .5rem 1rem .5rem 2.5rem;
  box-sizing: border-box;
  border-radius: 2rem;
}

.notify-wrapper::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 33px;
  border-style: solid;
  border-color: #339989 transparent transparent transparent;
  border-width: 1.5rem 0rem 1rem 1.5rem;
}

.container {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  max-width: 980px;
  margin: 30px 0;
}

.container > * {
  margin-left: 2rem;
}

.container > *:first-child {
  margin-left: 0;
}

.sidebar-wrapper {
  max-width: 240px;
  position: fixed;
  right: 8%;
}

.sidebar-icon {
  display: none;
  position: absolute;
  right: 0;
  justify-content: flex-end;
  margin: 20px;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px 15px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid #999;
}

.sidebar {
  border-radius: 5px;
  display: flex;
  background-color: #fff;
  padding: 20px;
  flex-wrap: wrap;
  box-sizing: border-box;
  max-height: 580px;
  overflow-y: scroll;
}

.sidebar .sidebar-item {
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.sidebar .sidebar-item:last-child {
  margin-bottom: 0;
}

.sidebar .avatar {
  width: 80px;
}

.sidebar .avatar img {
  border-radius: 50%;
  width: inherit;
}

.sidebar .title {
  font-weight: 400;
  margin: 0;
}

.sidebar .page-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: inherit;
}

.sidebar .page-list .page-item {
  box-sizing: border-box;
  margin-bottom: 5px;
  background-color: rgba(51, 153, 137, 0.4);
  position: relative;
  width: 80%;
}

.sidebar .page-list .page-item:last-child {
  margin: 0;
}

.sidebar .page-list .page-item:hover {
  width: 100%;
  transition-duration: .2s;
}

.sidebar .page-list .page-item::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent #fff transparent transparent;
  border-width: .87rem 1rem .87rem 1rem;
}

.sidebar .page-list .page-link {
  color: #45261f;
  text-decoration: none;
  display: block;
  padding: 5px 20px;
}

.sidebar .search-form {
  display: flex;
  border-bottom: 1px solid #339989;
}

.sidebar .search-form input[type=text] {
  border: none;
  font-size: .8rem;
}

.sidebar .search-form input[type=text]:focus {
  outline: none;
}

.sidebar .search-form button {
  border: none;
  background-color: transparent;
  color: #339989;
}

.sidebar .search-form button:focus {
  outline: none;
}

.sidebar .control-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar .control-list .control-item {
  display: inline-block;
  font-size: 1.33rem;
  margin-left: .5rem;
}

.sidebar .control-list .control-item:first-child {
  margin: 0;
}

.sidebar .control-list .control-link {
  color: #999;
}

.sidebar .control-list .control-link:hover {
  color: #339989;
}

.content-wrapper {
  width: calc(100% - 240px);
  min-width: 320px;
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
}

.pagination-wrapper .pagination-list {
  display: flex;
  font-size: 1.2rem;
  padding: 0;
  margin-top: 0;
  list-style: none;
  border-radius: 5px;
  background-color: #fff;
  padding: 0 .5rem;
}

.pagination-wrapper .pagination-item {
  display: inline-block;
  margin: 0;
  color: #999;
  padding: .1rem .5rem;
}

.pagination-wrapper .pagination-link {
  display: block;
  align-self: center;
  text-decoration: none;
  color: #45261f;
}

.pagination-wrapper .pagination-link:hover {
  color: #339989;
}

.pagination-wrapper .current {
  color: #339989;
}

article {
  background-color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  margin-bottom: 45px;
}

article:last-child {
  margin-bottom: 0;
}

article.photo img {
  max-width: 100%;
}

article.quote blockquote {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 1rem;
  font-style: italic;
}

article.quote blockquote::before {
  content: "\"";
}

article.quote blockquote::after {
  content: "\"";
}

article .header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid rgba(69, 38, 31, 0.3);
  padding: .5rem 0;
  font-size: .85rem;
}

article .header .post-type {
  background-color: rgba(51, 153, 137, 0.4);
  padding: .1rem .8rem;
  display: block;
}

article .header .post-date {
  color: #999;
}

article .content {
  padding: 1rem 0;
}

article .content > * {
  margin-bottom: 1rem;
}

article .content > *:last-child {
  margin-bottom: 0;
}

article .content .post-title {
  margin-top: .4rem;
  border-bottom: 1px solid rgba(69, 38, 31, 0.3);
}

article .content .post-title-link {
  text-decoration: none;
  color: #339989;
}

article .content .post-title-link:hover {
  opacity: .7;
}

article .content .link-wrapper img {
  width: 100%;
}

article .content .link-wrapper .link {
  display: block;
  background-color: rgba(51, 153, 137, 0.2);
  border-radius: 5px;
  padding: .8rem 1.2rem;
  text-decoration: none;
  color: #339989;
}

article .content .link-wrapper .link:hover {
  opacity: .8;
}

article .content .link-wrapper .link-title {
  margin: .6rem 0;
}

article .content .link-wrapper .link-author::before {
  content: "-";
}

article .content .conversation {
  margin: 0;
  padding: 0;
  list-style: none;
}

article .content .conversation .label {
  font-weight: bold;
  line-height: 2rem;
}

article .panel {
  border-top: 1px solid rgba(69, 38, 31, 0.3);
  padding: .5rem 0;
}

article .panel > div {
  margin-bottom: 10px;
}

article .panel > div:last-child {
  margin: 0;
}

article .panel .tag-list {
  font-size: .9rem;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue",Arial,sans-serif;
}

article .panel .tag-list .tag-item {
  display: inline-block;
  background-color: #45261f;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  position: relative;
  margin-left: 1.2rem;
  margin-bottom: .5rem;
}

article .panel .tag-list .tag-item:hover {
  opacity: .7;
}

article .panel .tag-list .tag-item:first-child {
  margin: 0;
}

article .panel .tag-list .tag-item::after {
  content: "";
  position: absolute;
  top: 0;
  right: -1.55rem;
  width: 0px;
  height: 0px;
  margin: auto;
  border-style: solid;
  border-color: transparent transparent transparent #45261f;
  border-width: .78rem .78rem .78rem .78rem;
}

article .panel .tag-list .tag-link {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 4px 10px;
}

article .panel .controls {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

article .panel .controls .note-link {
  text-decoration: none;
  color: #999;
  font-size: .9rem;
}

article .panel .controls .note-link:hover {
  color: #339989;
}

article .panel .controls .control-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

article .panel .controls .control-list .control-item {
  display: inline-block;
  margin-left: .5rem;
}

article .panel .controls .control-list .control-link {
  text-decoration: none;
  color: #999;
  font-size: 1.2rem;
}

article .panel .controls .control-list .control-link:hover {
  color: #339989;
}

article.answer .avatar {
  width: 32px;
}

article .user-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: .8rem;
}

article .user-wrapper div {
  margin-left: 1rem;
}

article .user-wrapper div:first-child {
  margin: 0;
}

article .question-wrapper .asker {
  text-decoration: none;
  color-color: Accent Color;
}

article .question-wrapper .asker:hover {
  opacity: .7;
}

article .question-wrapper, article .answer-wrapper {
  border-bottom: 1px solid;
  border-bottom-color: Sub Color;
}

article .reply-wrapper {
  padding-top: .8rem;
}

.note-wrapper {
  border-top: 1px solid rgba(69, 38, 31, 0.3);
  margin-top: .6rem;
}

.note-wrapper .notes {
  list-style: none;
  padding: 0;
}

.note-wrapper .notes .note {
  line-height: 32px;
  display: flex;
}

.note-wrapper .notes .note .avatar {
  width: 32px;
  margin-right: 10px;
  border-radius: 50%;
}

.note-wrapper .notes .note .action a {
  color: #339989;
  text-decoration: none;
}

.note-wrapper .notes .note .action a:hover {
  opacity: .7;
}

.footer-wrapper {
  position: relative;
  z-index: 100;
}

.footer-wrapper .footer {
  display: flex;
  justify-content: center;
  background-color: #45261f;
  color: #FFE8CC;
  padding: .3rem 2rem;
}

@media (max-width: 800px) {
  .sidebar-wrapper {
    height: 100%;
    top: 0;
    right: 0;
    background-color: #fff;
    max-width: 325px;
  }
  .sidebar {
    background-color: transparent;
    margin-top: 30px;
    display: none;
  }
  .sidebar-icon {
    display: block;
  }
  .container {
    justify-content: center;
  }
  .content-wrapper {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .container {
    width: 100%;
  }
}

.flex-open {
  display: flex;
}

.radius {
  border-radius: 50%;
}
