html {
  background-color: #45261f;
}

body {
  margin: 0;
  background-color: #FFE8CC;
  color: #45261f;
}

.container-wrapper {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  width: 80%;
  max-width: 980px;
  margin: 50px 0;
}

.sidebar-wrapper {
  width: 300px;
}

.sidebar {
  border-radius: 5px;
  display: flex;
  background-color: #fff;
  margin: 0 2rem;
  padding: 20px;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.sidebar .sidebar-item {
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.sidebar .avatar {
  width: 100px;
}

.sidebar .avatar img {
  border-radius: 50%;
  width: inherit;
}

.sidebar .title {
  font-weight: 400;
  margin: 0;
}

.sidebar .page-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: inherit;
}

.sidebar .page-list .page-item {
  box-sizing: border-box;
  margin-bottom: 5px;
  background-color: rgba(51, 153, 137, 0.4);
  position: relative;
  width: 80%;
}

.sidebar .page-list .page-item:last-child {
  margin: 0;
}

.sidebar .page-list .page-item:hover {
  width: 100%;
  transition-duration: .2s;
}

.sidebar .page-list .page-link {
  color: #45261f;
  text-decoration: none;
  display: block;
  padding: 2px 20px;
}

.sidebar .page-list .page-link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent #fff transparent transparent;
  border-width: .8rem 1rem 1rem 0rem;
}

.sidebar .search-form {
  display: flex;
  border-bottom: 1px solid #339989;
}

.sidebar .search-form input[type=text] {
  border: none;
  font-size: .8rem;
}

.sidebar .search-form input[type=text]:focus {
  outline: none;
}

.sidebar .search-form button {
  border: none;
  background-color: transparent;
}

.sidebar .search-form button:focus {
  outline: none;
}

.sidebar .control-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar .control-list .control-item {
  display: inline-block;
  margin-left: 5px;
  font-size: 1.33rem;
}

.sidebar .control-list .control-item:first-child {
  margin: 0;
}

.sidebar .control-list .control-link {
  color: #999;
}

.sidebar .control-list .control-link:hover {
  color: #339989;
}

.content-wrapper {
  width: calc(100% - 300px);
}

article {
  background-color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  margin-bottom: 45px;
}

article .header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid rgba(69, 38, 31, 0.3);
  padding: .5rem 0;
  font-size: .85rem;
}

article .header .post-type {
  background-color: rgba(51, 153, 137, 0.4);
  padding: .1rem .8rem;
}

article .header .post-date {
  color: #999;
}

article .content {
  padding: 1rem 0;
}

article .content > * {
  margin-bottom: 1rem;
}

article .content > *:last-child {
  margin-bottom: 0;
}

article .content .post-title {
  margin-top: .4rem;
  border-bottom: 1px solid rgba(69, 38, 31, 0.3);
}

article .content .post-title-link {
  text-decoration: none;
  color: #339989;
}

article .content .post-title-link:hover {
  opacity: .7;
}

article .content .link-wrapper .link {
  display: block;
  background-color: rgba(51, 153, 137, 0.2);
  border-radius: 5px;
  padding: .8rem 1.2rem;
  text-decoration: none;
  color: #339989;
}

article .content .link-wrapper .link:hover {
  opacity: .8;
}

article .content .link-wrapper .link-title {
  margin: .6rem 0;
}

article .content .link-wrapper .link-author::before {
  content: "-";
}

article .panel {
  border-top: 1px solid rgba(69, 38, 31, 0.3);
  padding: .5rem 0;
}

article .panel > div {
  margin-bottom: 10px;
}

article .panel > div:last-child {
  margin: 0;
}

article .panel .tag-list {
  font-size: .9rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

article .panel .tag-list .tag-item {
  display: inline-block;
  background-color: #45261f;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  position: relative;
  margin-left: .8rem;
}

article .panel .tag-list .tag-item:hover {
  opacity: .7;
}

article .panel .tag-list .tag-item:first-child {
  margin: 0;
}

article .panel .tag-list .tag-item::after {
  content: "";
  position: absolute;
  top: 0;
  right: -1.5rem;
  width: 0px;
  height: 0px;
  margin: auto;
  border-style: solid;
  border-color: transparent transparent transparent #45261f;
  border-width: .78rem .78rem .78rem .78rem;
}

article .panel .tag-list .tag-link {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: .1rem .5rem;
}

article .panel .controls {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

article .panel .controls .note-link {
  text-decoration: none;
  color: #999;
  font-size: .9rem;
}

article .panel .controls .note-link:hover {
  color: #339989;
}

article .panel .controls .control-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

article .panel .controls .control-list .control-item {
  display: inline-block;
  margin-left: .2rem;
}

article .panel .controls .control-list .control-link {
  text-decoration: none;
  color: #999;
  font-size: 1.2rem;
}

article .panel .controls .control-list .control-link:hover {
  color: #339989;
}

.footer-wrapper .footer {
  display: flex;
  justify-content: center;
  background-color: #45261f;
  color: #FFE8CC;
  padding: .3rem 2rem;
}
