// $main-color: #ECD8BF;
// $accent-color: #339989;
// $base-color: #6B4B3E;
// $sub-color: #aaa;

$main-color: #565554;
$accent-color: #339989;
$base-color: #ffe8cc;
$sub-color: #aaa;

// 場所-用途-値の種類
$body-bg-color: $base-color;
$footer-bg-color: $main-color;
$container-bg-color: #fff;
$sidebar-bg-color: #fff;

$content-bg-alpha: .8;

$body-text-color: $main-color;
$footer-text-color: $base-color;

$sidebar-width: 250px;
$sidebar-height: 400px;
$article-min-width: 400px;
$article-max-width: 700px;

$border-radius: 5px;

html {
    background-color: $footer-bg-color;
}

body {
    margin: 0;
    background-color: $body-bg-color;
}

// .invisible {
//     // visibility: hidden;
//     display: none;
// }

.row {
    max-width: $article-max-width;
    &-1 {
        width: 100%;
    }
    &-3 {
        width: calc(100%/3);
    }
    &-2 {
        width: calc(100%/2)
    }
}

// layout: container wrapper
.container {
    display: flex;
    // margin: 0 30px;
    // &:first-child {
    //     margin-left: 0;
    // }
    // &:last-child {
    //     margin-right: 0;
    // }
}

// layout: sidebar
.sidebar-wrapper {
    position: relative;
    width: $sidebar-width;
    min-width: $sidebar-width;
    // height: $sidebar-height;
    // min-height: $sidebar-height;
    margin: 40px 20px 40px 20px;
    float: left;
    .sidebar {
        border-radius: $border-radius;
        overflow: visible;
        position: fixed;
        text-align: center;
        height: inherit;
        width: inherit;
        // opacity: .7;
        background-color: rgba($sidebar-bg-color, $content-bg-alpha);
        box-sizing: border-box;
        padding: 1rem 2rem;
    }
    .sidebar-item {
        // position: relative;
        // width: 100%;
        margin-bottom: 15px;
        // overflow: scroll;
    }
    .avatar {
        display: inline-block;
        position: relative;
        // top: -50px;
        width: 64px;
        height: 64px;
        background-color: red;
        border-radius: 50%;
    }
    .title {
        font-weight: 400;
        margin: 0;
    }
    .description {
        font-size: .9rem;
    }
    .search-nav {
        color: $accent-color;
        display: block;
        &:hover{
            opacity: .7;
        }
    }
    .search-form {
        form {
            display: inline-block;
            border-bottom: 1px solid $accent-color;
        }
        .search-input {
            background-color: transparent;
            border: none;
            font-size: .8rem;
            // box-sizing: border-box;
            &:focus {
                outline: none;
            }
        }
        .search-submit {
            background-color: transparent;
            color: $accent-color;
            border: 0;
        }
    }
    .page-list {
        margin: 0;
        padding: 0;
        list-style: none;
        .page-item {
            text-align: right;
            background-color: $accent-color;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            margin-bottom: 5px;
            width: 80%;
            &:hover {
                // opacity: .8;
                transition-duration: 0.2s;
                width: 100%;
            }
        }
        .page-link {
            text-decoration: none;
            display: block;
            color: $base-color;
            padding: .1rem 20px;
            font-weight: 600;
        }
    }
    .links {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: left;
        display: flex;
        justify-content: center;
        .link-item {
            // display: inline-flex;
            // justify-content: center;
            margin-left: 5px;
            &:first-child {
                margin-left: 0;
            }
        }
        .link-link {
            text-decoration: none;
            display: block;
            color: $sub-color;
            font-size: 1.4rem;
            &:hover {
                color: $accent-color;
            }
        }
    } // links
    .nav-label {
        display: none;
        margin-bottom: 8px;
        color: $accent-color;
        &:hover {
            opacity: .7;
        }
    }
}
// end sidebar

// layout: content-wrapper
.content-wrapper {
    display: flex;
    width: 100%;
    margin: 40px 0;
    // padding: 0 20px;
    min-height: $sidebar-height;
    // flex-wrap: wrap;
    // align-items: stretch;
    // justify-content: space-around;
    justify-content: center;
}

article {
    display: block;
    // float: left;
    // height: 500px;
    // width: 100%;
    box-sizing: border-box;
    padding: 20px 30px;
    margin-bottom: 40px;
    margin-right: 20px;
    background-color: rgba($container-bg-color, $content-bg-alpha);
    min-width: $article-min-width;
    max-width: $article-max-width;
    border-radius: $border-radius;
    &:last-child {
        margin-bottom: 0;
    }
    .post-title {
        color: $accent-color;
        text-decoration: none;
        &:hover {
            opacity: .7;
            text-decoration: underline;
        }
    }
    .link {
        display: block;
        color: $accent-color;
        text-decoration: none;
        padding: 15px 20px;
        background-color: rgba($accent-color, .2);
        margin-bottom: 20px;
        &:hover {
            opacity: .8;
        }
        &-title {
            margin: .5rem 0;
        }
        
    }
    .panel {
        margin-top: 25px;
        .panel-item {
            margin-top: 10px;
        }
        .tag {
            &-list {
                margin: 0;
                padding: 0;
                list-style: none;
            }
            &-item {
                display: inline-block;
                margin-right: 5px;
                &:hover {
                    opacity: 0.7;
                }
            }
            &-link {
                display: block;
                text-decoration: none;
                color: $accent-color;
                &::before {
                    content: "#"
                }
            }
        } // tag
        .clearfix {
            display: flex;
            justify-content: space-between;
        }
        .info {
            label {
                color: $sub-color;
                margin-right: 5px;
            }
            a {
                color: $sub-color;
                // text-decoration: none;
                &:hover {
                    opacity: .7;
                    // text-decoration: underline;
                }
            }
        }
        .control {
            &-list {
                margin: 0;
                padding: 0;
                list-style: none;
            }
            &-item {
                display: inline-block;
                margin-left: 4px;
                // position: relative;
            }
            &-link {
                text-decoration: none;
                color: $sub-color;
                font-size: 1.34rem;
                &:hover {
                    color: $accent-color;
                }
            }

        } // control
    } // panel
} // article

// layout: footer-wrapper
.footer-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 0;
    .footer {
        display: flex;
        justify-content: center;
        color: $footer-text-color;
        background-color: $footer-bg-color;
        width: 100%;
        padding: 20px;
    }
}


@media (max-width: 700px) {
    .invisible {
        display: none;
    }
    .container {
        display: block;
    }
    .sidebar-wrapper {
        width: 100%;
        float: none;
        margin: 0;
        .sidebar {
            position: relative;
            display: block;
        }
        .sidebar-item {
            margin-bottom: 8px;
        }
        .page-list {
            // display: none;
            .page-item {
                width: 100%;
                text-align: center;
                &:hover {
                    opacity: 0.7;
                }
            }
        }
        .search-form {
            // display: none;
        }
        .nav-label {
            display: inline-block;
            &::before {
                content: "+\ "
            }
        }
    }
    article {
        margin-left: 20px;
    }
}
