html {
  background-color: #565554;
}

body {
  margin: 0;
  color: #565554;
  background-color: #ddd;
  font-family-font: TextFont;
  background-image: url("{image:Background Image}");
  background-size: cover;
  background-color: #ddd;
}

h1, h2, h3, h4, h5, h6 {
  display: block;
  margin-block-start: 0.5em;
  margin-block-end: 0.4em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.invisible {
  visibility: hidden;
}

.header-wrapper {
  position: relative;
}

.header-wrapper .header {
  background-color: #2E86AB;
  position: relative;
  min-height: 15rem;
  background-size: cover;
  background-image: url("{image:Header Image}");
}

.blog-title-wrapper {
  position: relative;
  display: block;
  text-align: center;
  top: -80px;
  background-color: #fff;
  width: 70%;
  margin: auto;
  border-radius: 5px;
  padding-bottom: calc(128px / 2);
}

.blog-title-wrapper .avatar-wrapper {
  position: absolute;
  left: 50%;
  margin-left: calc(-128px / 2);
  display: block;
  top: calc(-128px / 2);
}

.blog-title-wrapper .avatar-image {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: 6px solid #fff;
}

.blog-title-wrapper .title-group {
  position: relative;
  display: block;
  top: calc(128px / 2);
  padding: 1rem 3rem 2rem;
}

.page-description {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: .5rem 1.2rem;
  border-radius: 5px;
  margin-bottom: 20px;
}

.page-description .tag-link {
  text-decoration: none;
  color: #2E86AB;
}

.page-description .tag-link:hover {
  color: #1C5677;
}

.page-description .tag-link::before {
  content: "#";
}

.content-wrapper {
  position: relative;
  margin-top: -80px;
}

.navigation-wrapper .nav-list {
  list-style: none;
  text-align: center;
  margin: 1rem;
  padding: 0;
}

.navigation-wrapper .nav-list li {
  display: inline-block;
}

.navigation-wrapper .nav-item {
  margin: 0px 10px;
  text-decoration: none;
  color: #2E86AB;
  font-weight: bold;
  border-bottom: 2px solid transparent;
}

.navigation-wrapper .nav-item:hover {
  color: #1C5677;
  border-bottom: 2px solid #1C5677;
}

.blog-content-wrapper {
  margin: 0 50px;
}

.blog-content-wrapper .container {
  display: flex;
  margin: auto;
  justify-content: center;
}

.blog-content-wrapper .main {
  flex: auto;
  max-width: 700px;
}

article {
  display: block;
  margin-bottom: 50px;
}

article .title {
  font-weight: 600;
  color: #2E86AB;
  margin-top: 0;
}

article .title a {
  color: #2E86AB;
  text-decoration: none;
}

article .body {
  margin-top: 20px;
}

article .date {
  display: flex;
  justify-content: flex-end;
  font-weight: 400;
  color: #aaa;
}

article.quote blockquote {
  margin: 0;
  font-size: 2rem;
  font-style: italic;
  font-famiry-font: QuoteFont;
}

article.quote blockquote::before, article.quote blockquote::after {
  content: "\"";
}

article.chat .conversation {
  list-style: none;
  padding: 0;
  font-family-font: Chat Font;
  line-height: 1.5rem;
}

article.chat .label {
  font-weight: 600;
}

.post-wrapper {
  /* border: 1px solid #ccc; */
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 5px;
}

.post-wrapper .post-content {
  padding: 1rem 2rem;
}

.post-wrapper .post-extra {
  margin: 1rem 2rem 0;
}

.post-wrapper .post-extra .tag-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.post-wrapper .post-extra .tag-list li {
  display: inline-block;
  margin-right: 3px;
}

.post-wrapper .post-extra .tag-item {
  color: #2E86AB;
  text-decoration: none;
}

.post-wrapper .post-extra .tag-item::before {
  content: "#";
}

.post-wrapper .post-extra .tag-item:hover {
  color: #1C5677;
}

.post-wrapper .panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.2rem 2rem;
}

.post-wrapper .panel .post-controls {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

.post-wrapper .panel .control {
  margin-left: .8rem;
}

.post-wrapper .panel .control a {
  text-decoration: none;
  color: #ccc;
}

.post-wrapper .panel .control .icon {
  font-size: 1.34rem;
  position: relative;
}

.note-wrapper {
  margin-top: 30px;
}

.note-wrapper .notes {
  list-style: none;
  background-color: #fff;
  padding: 1.2rem 2rem;
  border-radius: 5px;
}

.note-wrapper .note {
  display: flex;
  align-content: center;
  margin-bottom: .7rem;
}

.note-wrapper .note:last-child {
  margin-bottom: 0;
}

.note-wrapper .note .avatar {
  width: 24px;
  height: 24px;
}

.note-wrapper .action {
  margin-left: 8px;
}

.note-wrapper .action a {
  text-decoration: none;
  color: #2E86AB;
}

.note-wrapper .action a:hover {
  color: #1C5677;
}

.notes-notify-wrapper .notes-link {
  text-decoration: none;
  color: #aaa;
  border-bottom: 1px solid transportant;
}

.notes-notify-wrapper .notes-link:hover {
  border-bottom: 1px solid #aaa;
}

.footer-wrapper {
  font-size: .8rem;
}

.footer-wrapper .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  background-color: #565554;
  color: #fff;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.photoset-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.link-wrapper {
  background-color: #E7F6FF;
  padding: .5rem .8rem;
  border-radius: 5px;
}

.link-wrapper:hover {
  background-color: #DCEDFF;
}

.link-wrapper .link {
  text-decoration: none;
  color: #2E86AB;
}

.link-wrapper .link:hover {
  color: #1C5677;
}

.link-wrapper .link-host {
  font-size: 1rem;
}

.link-wrapper .link-excerpt {
  font-size: .8rem;
}

.search_query {
  font-weight: 600;
  margin-left: .5rem;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  margin-top: 2px;
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: .1rem;
  left: 10;
}

.dropdown-menu.open {
  display: block;
  max-height: 10rem;
  overflow-y: scroll;
}

.dropdown-item {
  font-size: .9rem;
  text-decoration: none;
  color: #565554;
  padding: .3rem .8rem;
  border-radius: 5px;
}

.dropdown-item:hover {
  background-color: #DCEDFF;
}
