$main-color: #45261f;
$accent-color: #339989;
$base-color: #FFE8CC;
$sub-color: #999;

// 場所-用途-値の種類
$body-bg-color: $base-color;
$footer-bg-color: $main-color;
$container-bg-color: #fff;
$sidebar-bg-color: #fff;

$content-bg-alpha: .8;

$content-border-color: rgba($main-color, .3);

$body-text-color: $main-color;
$footer-text-color: $base-color;

$container-min-width: 500px;
$container-max-width: 980px;
$sidebar-max-width: 240px;

$border-radius: 5px;

// universal
html {
    background-color: $footer-bg-color;
}

body {
    margin: 0;
    background-color: $body-bg-color;
    color: $body-text-color;
    padding-top: 50px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

// container-wrapper
.container-wrapper {
    display: flex;
    justify-content: center;
    min-height: 600px;
}

// .notify-wrapper {
//     background-color: $base-color;
//     .notify {
//         text-align: left;
//         // margin-top: 50px;
//         width: 40%;
//         min-width: 300px;
//         background-color: $accent-color;
//         color: $base-color;
//         padding: .5rem 1rem .5rem 2.5rem;
//         box-sizing: border-box;
//         position: relative;
//         &::after {
//             content: "";
//             position:absolute;
//             top: 0;
//             right: 0;
//             width:0;
//             height:0;
//             border-style: solid;
//             border-color: $base-color $base-color $main-color $main-color;
//             border-width: .5rem;
//         }
//     }
// }

.notify-wrapper {
    margin-bottom: 30px;
    position: relative;
    .notify {
        background-color: $accent-color;
        color: $base-color;
        padding: .5rem 1rem .5rem 2.5rem;
        box-sizing: border-box;
        border-radius: 2rem;
    }
    &::after {
        content: "";
        position:absolute;
        width:0;
        height:0;
        left: 33px;
        border-style: solid;
        border-color: $accent-color transparent transparent transparent;
        border-width: 1.5rem 0rem 1rem 1.5rem;
    }
}

// container
.container {
    // background-color: $base-color;
    display: flex;
    justify-content: flex-start;
    // background-color: gray;
    width: 80%;
    max-width: $container-max-width;
    margin: 30px 0;
    & > * {
        margin-left: 2rem;
        &:first-child {
            margin-left: 0;
        }
    }
}

// sidebar
.sidebar-wrapper {
    max-width: $sidebar-max-width;
    // background-color: $container-bg-color;
    position: fixed;
    right: 8%;
}
.sidebar-icon {
    display: none;
    position: absolute;
    right: 0;
    justify-content: flex-end;
    margin: 20px;
    font-size: 1.5rem;
    background-color: rgba($container-bg-color, .9);
    padding: 5px 15px;
    border-radius: $border-radius;
    box-sizing: border-box;
    border: 1px solid $sub-color;
}
.sidebar {
    border-radius: $border-radius;
    display: flex;
    background-color: $container-bg-color;
    // margin: 0 2rem;
    padding: 20px;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-height: 580px;
    overflow-y: scroll;
    .sidebar-item {
        display: flex;
        justify-content: center;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 1rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .avatar {
        width: 80px;
        img {
            border-radius: 50%;
            width: inherit;
        }
    }
    .title {
        font-weight: 400;
        margin: 0;
    }
    .page-list {
        list-style: none;
        margin: 0;
        padding: 0;
        width: inherit;
        .page-item {
            box-sizing: border-box;
            margin-bottom: 5px;
            background-color: rgba($accent-color, 0.4);
            position: relative;
            width: 80%;
            &:last-child{
                margin: 0;
            }
            &:hover {
                width: 100%;
                transition-duration: .2s;
            }
            &::after {
                content: "";
                position:absolute;
                top:0;
                right:0;
                width:0;
                height:0;
                border-style: solid;
                border-color: transparent $container-bg-color transparent transparent;
                border-width: .87rem 1rem .87rem 1rem;
            }
        }
        .page-link {
            color: $main-color;
            text-decoration: none;
            display: block;
            padding: 5px 20px;
        }
    }
    .search-form {
        display: flex;
        border-bottom: 1px solid $accent-color;
        input[type=text] {
            border: none;
            font-size: .8rem;
            &:focus {
                outline: none;
            }
        }
        button {
            border: none;
            background-color: transparent;
            color: $accent-color;
            &:focus {
                outline: none;
            }
        }
    }
    .control-list {
        list-style: none;
        margin: 0;
        padding: 0;
        .control-item {
            display: inline-block;
            // margin-left: 5px;
            font-size: 1.33rem;
            margin-left: .5rem;
            &:first-child {
                margin: 0;
            }
        }
        .control-link {
            color: $sub-color;
            &:hover{
                color: $accent-color;
            }
        }
    }
} // sidebar

// content
.content-wrapper {
    // width: 500px;
    width: calc(100% - #{$sidebar-max-width});
    // background-color: $container-bg-color;
    min-width: 320px;
}
.pagination-wrapper {
    display: flex;
    justify-content: center;
    .pagination-list {
        display: flex;
        font-size: 1.2rem;
        padding: 0;
        margin-top: 0;
        list-style: none;
        // margin: 0;
        border-radius: $border-radius;
        background-color: $container-bg-color;
        padding: 0 .5rem;
    }
    .pagination-item {
        display: inline-block;
        margin: 0;
        color: $sub-color;
        padding: .1rem .5rem;
    }
    .pagination-link {
        display: block;
        align-self: center;
        text-decoration: none;
        color: $main-color;
        
        // border-radius: $border-radius;
        &:hover {
            // background-color: $accent-color;
            color: $accent-color;
        }
    }
    .current {
        color: $accent-color;
    }
}

// article
article {
    background-color: $container-bg-color;
    // margin: 10px;
    padding: 1rem 1.5rem;
    border-radius: $border-radius;
    margin-bottom: 45px;
    &:last-child {
        margin-bottom: 0;
    }
    &.photo {
        img {
            max-width: 100%;
        }
    }
    &.quote {
        blockquote {
            font-size:1.5rem;
            margin:0;
            margin-bottom: 1rem;
            font-style: italic;
            &::before {
                content: "\""
            }
            &::after {
                content: "\""
            }
        }
    }
    .header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        border-bottom: 1px solid $content-border-color;
        padding: .5rem 0;
        font-size: .85rem;
        .post-type {
            background-color: rgba($accent-color, 0.4);
            padding: .1rem .8rem;
            display: block;
        }
        .post-date {
            color: $sub-color;
        }
    } // end header
    .content {
        padding: 1rem 0;
        & > * {
            margin-bottom: 1rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .post-title {
            // margin: 0;
            margin-top: .4rem;
            border-bottom: 1px solid $content-border-color;
        }
        .post-title-link {
            text-decoration: none;
            color: $accent-color;
            &:hover {
                opacity: .7;
            }
        }
        .link-wrapper {
            img {
                width: 100%;
            }
            .link {
                display: block;
                background-color: rgba($accent-color, .2);
                border-radius: $border-radius;
                padding: .8rem 1.2rem;
                text-decoration: none;
                color: $accent-color;
                &:hover {
                    opacity: .8;
                }
            }
            .link-title {
                margin: .6rem 0;
            }
            .link-author {
                &::before {
                    content: "-"
                }
            }
        }
        .conversation {
            margin: 0;
            padding: 0;
            list-style: none;
            .label {
                font-weight: bold;
                line-height: 2rem;
            }
        }
    } // end content
    .panel {
        border-top: 1px solid $content-border-color;
        padding: .5rem 0;
        &> div {
            margin-bottom: 10px;
            &:last-child {
                margin: 0;
            }
        }
        .tag-list {
            font-size: .9rem;
            list-style: none;
            margin: 0;
            padding: 0;
            font-family: "Helvetica Neue",Arial,sans-serif;
            .tag-item {
                display: inline-block;
                background-color: $main-color;
                border-top-left-radius: $border-radius;
                    border-bottom-left-radius: $border-radius;
                position: relative;
                margin-left: 1.2rem;
                margin-bottom: .5rem;
                &:hover {
                    opacity: .7;
                }
                &:first-child {
                    margin: 0;
                }
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: -1.55rem;
                    width: 0px;
                    height: 0px;
                    margin: auto;
                    border-style: solid;
                    border-color: transparent transparent transparent $main-color;
                    border-width: .78rem .78rem .78rem .78rem;
                }
            }
            .tag-link {
                display: block;
                text-decoration: none;
                color: $container-bg-color;
                padding: 4px 10px;
            }
        } //end tag list
        .controls {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            .note-link {
                text-decoration: none;
                color: $sub-color;
                font-size: .9rem;
                &:hover {
                    color: $accent-color;
                }
            }
            .control-list {
                list-style: none;
                margin: 0;
                padding: 0;
                .control-item {
                    display: inline-block;
                    margin-left: .5rem;
                }
                .control-link {
                    text-decoration: none;
                    color: $sub-color;
                    font-size: 1.2rem;
                    &:hover {
                        color: $accent-color;
                    }
                }
            }
        }
    } // end panel
} // end article

article.answer .avatar {
    width: 32px;
}
article .user-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: .8rem;
}
article .user-wrapper div {
    margin-left: 1rem;
}
article .user-wrapper div:first-child {
    margin: 0;
}

article .question-wrapper .asker {
    text-decoration: none;
    color: {color:Accent Color};
}
article .question-wrapper .asker:hover {
    opacity: .7;
}
article .question-wrapper, article .answer-wrapper {
    border-bottom: 1px solid {color:Sub Color};
}

article .reply-wrapper {
    padding-top: .8rem;
}

.note-wrapper {
    border-top: 1px solid $content-border-color;
    margin-top: .6rem;
    .notes {
        list-style: none;
        padding: 0;
        .note {
            line-height: 32px;
            display: flex;
            .avatar {
                width: 32px;
                margin-right: 10px;
                border-radius: 50%;
            }
            .action a {
                color: $accent-color;
                text-decoration: none;
                &:hover {
                    opacity: .7;
                }
            }
        }
    }
}



// footer
.footer-wrapper {
    // background-color: $footer-bg-color;
    // display: flex;
    position: relative;
    z-index: 100;
    .footer {
        display: flex;
        justify-content: center;
        background-color: $footer-bg-color;
        color: $footer-text-color;
        padding: .3rem 2rem;
    }
}

@media (max-width: 800px) {
    .sidebar-wrapper {
        height: 100%;
        top: 0;
        right: 0;
        background-color: $container-bg-color;
        max-width: 325px;
    }
    .sidebar {
        background-color: transparent;
        margin-top: 30px;
        display: none;
    }
    .sidebar-icon {
        display: block;
    }
    .container {
        justify-content: center;
    }
    .content-wrapper {
        width: 100%;
    }
}

.flex-open {
    display: flex;
}

.radius {
    border-radius: 50%;
}